
@if (User.Identity.IsAuthenticated)
{
    <a class="navbar-item is-text is-hoverless has-text-white" asp-area="" asp-controller="Account" asp-action="Logout">
        <strong>
            Log out
        </strong>
    </a>
}