@model string

<div class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            <div class="column is-4-desktop is-offset-4-desktop  is-6-tablet is-offset-3-tablet">
                <h3 class="title is-font-rock has-text-weight-bold has-text-primary">Tricking Royal</h3>
                <div class="box is-faded">
                    <h3 class="title has-text-white">Menu</h3>
                    <div class="field">
                        <a class="button is-fullwidth is-large" href="@Model">Go Battle</a>
                    </div>
                    <h3 class="title has-text-white">Coming Soon</h3>
                    <div class="field">
                        <a class="button is-fullwidth is-large is-disabled has-background-grey-light">Shop</a>
                    </div>
                    <div class="field">
                        <a class="button is-fullwidth is-large is-disabled has-background-grey-light">Tournament</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>