@inject Library Library

@{
    var context = await Library.GetContext();
    var tLoginFail = context.Read("Account", "LoginFail");
    ViewData["Title"] = tLoginFail;
}

<header>
    <h2>@tLoginFail</h2>
    <p class="text-danger">@context.Read("Account", "LoginFailDesc")</p>
</header>
