@inject Library Library

@{
    var context = await Library.GetContext();
    ViewData["Title"] = context.Read("Account", "ForgotPasswordConfirm");
}

<div class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            <div class="column is-4-desktop is-offset-4-desktop  is-6-tablet is-offset-3-tablet">
                <h3 class="title is-font-rock has-text-weight-bold has-text-primary">Tricking Royal</h3>
                <div class="box is-faded">
                    <h3 class="title has-text-white">@context.Read("Account", "EmailSent")</h3>
                    <h3 class="subtitle has-text-white">@context.Read("Account", "CheckEmail")</h3>
                    <div class="field">
                        <a class="button" asp-action="Login">@context.Read("Account", "BackToLogin")</a>
                    </div>
                    <div class="field">
                        <a class="has-text-link" onclick="location.reload()">@context.Read("Account", "ReSendLink")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>