@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            <div class="column is-4-desktop is-offset-4-desktop  is-6-tablet is-offset-3-tablet">
                <h3 class="title is-font-rock has-text-weight-bold has-text-primary">Tricking Royal</h3>
                <div class="box is-faded">
                    <h3 class="title has-text-white">Account Recovery</h3>
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <div asp-validation-summary="All" class="help is-danger"></div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="Email" placeholder="Your Email" autofocus="">
                                <span asp-validation-for="Email" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-block is-info is-fullwidth">Submit</button>
                        </div>
                    </form>
                    <form asp-controller="Account" asp-action="BackToLogin" method="post">
                        <div class="field">
                            <button type="submit" class="button">Back to Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
