@inject Library Library

@{
    var context = await Library.GetContext();
    var tLockOut = context.Read("Account", "LockOut"); 
    ViewData["Title"] = tLockOut;
}

<header>
    <h1 class="text-danger">@tLockOut</h1>
    <p class="text-danger">@context.Read("Account", "LockedOut")</p>
</header>
