@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            <div class="column is-4-desktop is-offset-4-desktop  is-6-tablet is-offset-3-tablet">
                <h3 class="title is-font-rock has-text-weight-bold has-text-primary">Tricking Royal</h3>
                <div class="box is-faded">
                    <h3 class="title has-text-white">Register</h3>
                    <form asp-controller="Account" asp-action="Register" method="post" onsubmit="return submitForm(event);">
                        <input type="hidden" asp-for="@Model.ReturnUrl" value="@Model.ReturnUrl"/>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="Email" autocomplete="email" placeholder="Email (trix_god@gmail.com)">
                                <span asp-validation-for="Email" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="Password" autocomplete="new-password" placeholder="Password...">
                                <span asp-validation-for="Password" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="ConfirmPassword" autocomplete="new-password" placeholder="Confirm Password...">
                                <span asp-validation-for="ConfirmPassword" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="NickName" autocomplete="nickname" placeholder="Username (trix_god)" autofocus="">
                                <span asp-validation-for="NickName" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="help is-danger" asp-validation-summary="All"></div>
                        </div>
                        <div class="field">
                            <input type="submit" class="button is-block is-info is-fullwidth" value="Register"/>
                        </div>
                    </form>
                    <div class="field">
                        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="button">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
    var formSubmitted = false;
    
    var submitForm = function(e){
        if(formSubmitted)  {
            return false;
        }
        if($(e.target).valid()){
            formSubmitted = true;
            return true;
        }
    }
    </script>

}