@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            <div class="column is-4-desktop is-offset-4-desktop  is-6-tablet is-offset-3-tablet">
                <h3 class="title is-font-rock has-text-weight-bold has-text-primary">Tricking Royal</h3>
                <div class="box is-faded">
                    <h3 class="title has-text-white">Password Reset</h3>
                    <h3 class="subtitle has-text-white">You can now login using the new password.</h3>
                    <div class="field">
                        <a class="button is-block is-info is-fullwidth" asp-action="Login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>