@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            <div class="column is-4-desktop is-offset-4-desktop is-6-tablet is-offset-3-tablet">
                <div class="box is-faded">
                    <h3 class="title has-text-white">Change Password</h3>
                    <form asp-controller="Manage" asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="All" class="help is-danger"></div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="OldPassword" placeholder="Old Password..." autofocus="">
                                <span asp-validation-for="OldPassword" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="NewPassword" placeholder="New Password...">
                                <span asp-validation-for="NewPassword" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="ConfirmPassword" placeholder="Confirm Password...">
                                <span asp-validation-for="ConfirmPassword" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-block is-info is-fullwidth">Change</button>
                        </div>
                        <div class="field">
                            <a class="button" asp-action="Index">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
